<table class="table">
    <thead class="thead-light">
      <tr>
<th>
<div class="btn-group">
  <button type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info">Loan</button>&nbsp;
</div>
    <div class="btn-group">
  <button type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info">Borrower/Contact</button>&nbsp;
</div>
        <div class="btn-group">
  <input type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info" value="Notes" (click)="onSubmit()"/>&nbsp;
</div>
<div class="btn-group">
  <button  (click)="onVendor()" type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info">Loan Vendor</button>&nbsp;
</div>
<div class="btn-group">
  <input type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info" value="Loan Alert" (click)="onAlert()"/>&nbsp;
</div>
<div class="btn-group">
  <input type="button" style="background-color: rgb(12,79,141); color: white;" class="btn btn-info" value="Loan Pay Plan" (click)="onPay()"/>&nbsp;
</div>
</th>
</tr>

</thead>
<tbody>
    <div class="container-fluid">
    <router-outlet></router-outlet>
    </div>
</tbody>
</table>
